<launch>
	<param name="scan_line" type="int" value="64"/>
	
	<!-- remove too closed points -->
	<param name="minimum_range" type="double" value="0.3"/>
	
	<node name = "laserhandle" pkg="vlo" type="laserhandle" output="screen">
	</node>
	<node name = "lidtocam" pkg = "vlo" type = "lidtocam" output = "screen">
	</node>
</launch>
